/* Container */
#container {
  margin-left: 250px;
  margin-bottom: 56px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

#container.collapsed {
  margin-left: 72px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 72px;
}

/* Toggle btn */
.sidebar #toggle-sidebar {
  margin-left: auto;
  margin-right: 0;
}

.sidebar #toggle-sidebar:hover {
  --bs-text-opacity: .75 !important;
}

.sidebar.collapsed #toggle-sidebar {
  margin-right: auto;
}

/* Toggle icon */
.sidebar #toggle-sidebar i::before {
  content: "\f00d";
}

.sidebar.collapsed #toggle-sidebar i::before {
  content: "\f0c9";
}

.sidebar .divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #444;
  margin: 1rem 0;
}

/* Hide text when collapsed */
.sidebar.collapsed .nav-title {
  display: none;
}

/* Centered sub menu when collapsed */
.sidebar.collapsed .nav-link {
  margin-left: 0 !important;
}

/** Hover **/
.sidebar a:hover,
.sidebar .nav-link:hover,
.sidebar .nav-link.active:hover {
  --bs-text-opacity: .75 !important;
}

/** Active **/
/* primary */
.sidebar .nav-link.primary i,
.sidebar .nav-link.primary.active {
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

/* secondary */
.sidebar .nav-link.secondary i,
.sidebar .nav-link.secondary.active {
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

/* success */
.sidebar .nav-link.success i,
.sidebar .nav-link.success.active {
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

/* danger */
.sidebar .nav-link.danger i,
.sidebar .nav-link.danger.active {
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

/* info */
.sidebar .nav-link.info i,
.sidebar .nav-link.info.active {
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

/* warning */
.sidebar .nav-link.warning i,
.sidebar .nav-link.warning.active {
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

/* indigo */
.sidebar .nav-link.indigo i,
.sidebar .nav-link.indigo.active {
  color: rgba(var(--bs-indigo-rgb), var(--bs-text-opacity)) !important;
}

/* purple */
.sidebar .nav-link.purple i,
.sidebar .nav-link.purple.active {
  color: rgba(var(--bs-purple-rgb), var(--bs-text-opacity)) !important;
}

/* pink */
.sidebar .nav-link.pink i,
.sidebar .nav-link.pink.active {
  color: rgba(var(--bs-pink-rgb), var(--bs-text-opacity)) !important;
}

/* orange */
.sidebar .nav-link.orange i,
.sidebar .nav-link.orange.active {
  color: rgba(var(--bs-orange-rgb), var(--bs-text-opacity)) !important;
}

/* teal */
.sidebar .nav-link.teal i,
.sidebar .nav-link.teal.active {
  color: rgba(var(--bs-teal-rgb), var(--bs-text-opacity)) !important;
}

/* light */
.sidebar .nav-link.light i,
.sidebar .nav-link.light.active {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

/* white */
.sidebar .nav-link.white i,
.sidebar .nav-link.white.active {
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

/* dark */
.sidebar .nav-link.dark i,
.sidebar .nav-link.dark.active {
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

/* black */
.sidebar .nav-link.black i,
.sidebar .nav-link.black.active {
  color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}